<div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu" id="side-menu">
        <li class="menu-title">Navegación</li>
        <li>
            <a href="@Url.Action("Index", "Metric")"><i class="fi-monitor"></i> <span> Métricas </span> </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Dashboard")"><i class="fi-layout"></i> <span> Resumen </span> </a>
        </li>
        <li>
            <a href="javascript: void(0);"><i class="fi-box"></i><span> Vista Departamental </span> </a>
        </li>
        <li>
            <a href="taskboard.html"><i class="fi-paper"></i> <span> Análisis de Costos </span></a>
        </li>
        <li class="has_sub">
            <a href="javascript:void(0);"><i class="fi-marquee-plus"></i><span class="badge badge-success pull-right">5</span><span> Ahorro Potencial </span> </a>
        </li>
        <li>
            <a href="javascript: void(0);"><i class="fi-bar-graph-2"></i><span> Reportes </span> </a>
        </li>
        <li>
            <a href="todo.html"><i class="fi-layers"></i> <span> Configuración </span></a>
        </li>
    </ul>

</div>